
@{
    var image = "/Store/img/empty-image.png";
    var ProductImagePlaceholder = "/Store/img/empty-image.png";

    if (Model?.ItemImages != null && Model?.ItemImages.Count != 0)
    {
        image = Model.ItemImages?.First()?.FileUploadURL ?? ProductImagePlaceholder;
    }
    else
    {
        image = ProductImagePlaceholder;
    }
}

<div class="col-md-3 col-sm-3 shop-grid-item text-center">
    <div class="product-slide-entry">
        <div class="product-image">
            <a href="Store/Products/Details/@Model.ID">
                <img src="@Model.PrimaryImageURL" alt="" onerror="this.src='/Store/img/empty-image.png'" />
            </a>
            @if (!Model.InStock && !Model.ByRequest)
            {
                <div class="Item-image-label type-3"><span>Out of stock</span></div>
            }
            <a href="Store/Products/Details/@Model.ID" class="top-line-a right open-Item">
                <i class="fa fa-expand"></i> <span>View Product</span>
            </a>
            <div class="bottom-line">
                <div class="right-align">
                    <a onclick="AddProductToCompare('@Model.ID')" class="bottom-line-a square">
                        <i class="fa fa-retweet"></i>
                    </a>
                    <a href="Store/Products/Details/@Model.ID" class="bottom-line-a square">
                        <i class="fas fa-box-open"></i>
                    </a>
                </div>
                <div class="left-align">
                    <a onclick="AddProductToCart('@Model.ID')" class="bottom-line-a">
                        <i class="fas fa-shopping-cart"></i> 
                        Add to cart
                    </a>
                </div>
            </div>
        </div>
        
        @await Component.InvokeAsync("ReviewStarsRatingBox", Model)

        @if (!Model.ByRequest)
        {
            @if (Model.InStock)
            {
                @if (Model.CurrentStock == 0)
                {
                    <div class="current" style="color:orangered !important;font-size:20px;letter-spacing:1px; font-weight:400; margin:0px;">
                        @_("Low Stock")
                    </div>
                }
                else
                {
                    <div class="current" style="color:green !important; font-size:20px; letter-spacing:1px; font-weight:400;">
                        @_("In Stock")
                    </div>
                }
            }
            else
            {
                <div class="detail-info-entry " style=" margin:0px;">
                    <div class="current" style="color:red !important; font-size:20px;letter-spacing:1px;  font-weight:400;">
                        @_("Out of stock")
                    </div>
                </div>
            }
        }
        else
        {
            <div class="current" style="color:#002050 !important;font-size:20px;letter-spacing:1px; font-weight:400; margin:0px;">
                @_("By Request")
            </div>
        }
        <a class="title" href="/Store/Products/Details/@Model.ID">
              @Model.Title
        </a>
        
        <div class="price">

            <div class="current">Price:&nbsp;</div>
            <br />
            @if (Model.OnDiscount)
            {
                <div class="prev">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = false, PrintUnformatted = false, ForexRates = ViewData["ExchangeRates"] })</div>
                <div class="current" style="color:seagreen !important; font-weight:400;">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = true, PrintUnformatted = false })</div>
            }
            else
            {
                <div class="current" style="color:seagreen !important; font-weight:400;">@await Component.InvokeAsync("ItemPrice", new { Item = Model, DisplayDiscountPrice = false, PrintUnformatted = false, ForexRates = ViewData["ExchangeRates"] })</div>
            }
        </div>
        <div class="list-buttons">
            <a class="button style-4">Add to cart</a>
            <a class="button style-11"><i class="fas fa-heart"></i> Add to WishList</a>
        </div>
    </div>
    <div class="clear"></div>
</div>