@using System
@using Newtonsoft.Json
@using System.Linq
@using System.Collections.Generic

@{
    var Product = (FenixAlliance.ABM.Models.Logistics.Stock.Item.Item)Model;

    var IP = Context.Connection.RemoteIpAddress.ToString();
    var ProductImagePlaceholder = "/Store/img/empty-image.png";
    var image = ProductImagePlaceholder;
    var MinRate = 0.0;
    var MaxRate = 0.0;
    var imageCount = 0;
    var AverageRating = 0.0;
    var PrimaryImageCount = 0;
    var GoogleQuery = $"\"{Model.SKU}\"";
    var URL = "https://" + Context.Request?.Host + Context.Request.Path;
    var TaxBase = Model.EstimatedTotalPriceInUSD - Model.EstimatedTaxesInUSD;

    if (Model.ItemImages != null && Model.ItemImages.Count != 0)
    {
        ViewBag.Image = image = Model.ItemImages?.First()?.FileUploadURL ?? ProductImagePlaceholder;
    }
    else
    {
        ViewBag.Image= ProductImagePlaceholder;
    }



    if (Model.ItemReviews != null && Model.ItemReviews.Count != 0)
    {
        AverageRating = (Product.ItemReviews.Count == 0) ? 0.0 : Product.ItemReviews.Average(c => c.ReviewScore);
        MinRate = (Product.ItemReviews.Count == 0) ? 0.0 : Product.ItemReviews.OrderBy(c => c.ReviewScore).First().ReviewScore;
        MaxRate = (Product.ItemReviews.Count == 0) ? 0.0 : Product.ItemReviews.OrderByDescending(c => c.ReviewScore).First().ReviewScore;
    }
    
}
<script>
   const ItemID = '@Model.ID';
</script>
<!--====== App Content ======-->
<div class="app-content">
   <!--====== Section 1 ======-->
   <div class="u-s-p-t-90">
      <div class="container">
         <div class="row">
            <div class="col-lg-5">
               <!--====== Product Breadcrumb ======-->
               <div class="pd-breadcrumb u-s-m-b-30">
                  <ul class="pd-breadcrumb__list">
                     <li class="has-separator">
                        <a href="/">Home</a>
                     </li>
                     <li class="has-separator">
                        <a href="/Store">Store</a>
                     </li>
                     <li class="has-separator">
                        <a href="/Store/Products">Products</a>
                     </li>
                     <li class="is-marked">
                        <a href="#">@Model.SKU</a>
                     </li>
                  </ul>
               </div>
               <!--====== End - Product Breadcrumb ======-->
               <!--====== Product Detail Zoom ======-->
               <div class="pd u-s-m-b-30">
                  <div class="slider-fouc pd-wrap">
                     <div id="pd-o-initiate">
                        <div class="pd-o-img-wrap" data-src="@(Model.PrimaryImageURL ?? "/Store/img/empty-image.png")" >
                           <img class="u-img-fluid" src="@(Model.PrimaryImageURL ?? "/Store/img/empty-image.png")"    onerror="this.src='/Store/img/empty-image.png'"  data-zoom-image="@Model.PrimaryImageURL" alt="">
                        </div>
                        @if (Model.ItemImages is not null && Model.ItemImages.Count != 0)
                        {
                            foreach (var item in Model.ItemImages)
                            {
                                <div class="pd-o-img-wrap" data-src="@Model.PrimaryImageURL">
                                    <img src="@(item.FileUploadURL ?? "/Store/img/empty-image.png")"  onerror="this.src='/Store/img/empty-image.png'" data-zoom-image="@(item.FileUploadURL ?? "/Store/img/empty-image.png")" alt="">
                                </div>
                            }
                        }
                     </div>
                     <span class="pd-text">Click for larger zoom</span>
                  </div>
                  <div class="u-s-m-t-15">
                     <div class="slider-fouc">
                        <div id="pd-o-thumbnail">
                           <div>
                              <img class="u-img-fluid" src="@Model.PrimaryImageURL" alt="">
                           </div>
                            @if (Model.ItemImages is not null && Model.ItemImages.Count != 0)
                            {
                                foreach (var item in Model.ItemImages)
                                {
                                    <div>
                                        <img class="u-img-fluid" src="@(item.FileUploadURL ?? "/Store/img/empty-image.png")"  onerror="this.src='/Store/img/empty-image.png'"  alt="">
                                    </div>
                                }   
                           }
                        </div>
                     </div>
                  </div>
               </div>
               <!--====== End - Product Detail Zoom ======-->

            @if (!String.IsNullOrEmpty(Model.ItemCategoryID) && Model.ItemCategoryID != "Digital")
            {
                <div class="detail-info-entry">
                    <div class="inline-product-entry" style="display: flex;">
                        <i style="color:#007C00" class="fas fa-shipping-fast fa-5x"></i>
                        <div class="content" style="margin-left:50px;">
                            <div class="cell-view" style="line-height:0px">
                                <a href="#" class="title" style="margin:0px; line-height: 20px;"><b>@_("Included National Shipping to:")</b></a>
                                <div class="price" style="letter-spacing:1px; margin:0px; padding:0px; line-height: 15px; ">
                                    <div class="current" style="font-size:15px; letter-spacing:1px; margin:0px; padding:0px; line-height: 20px;">
                                        <img src="@Model.ShippingCountry.CountryFlagUrl" style="max-height:12px;" />&nbsp;  @Model.ShippingCountry.Name, principal cities.
                                    </div>
                                </div>
                                <p class="title" style="margin-top:0px;text-decoration:none;font-size:12px;letter-spacing:1px;line-height: 14px;">
                                    <sub style="font-size:10px">@_("Not applicable for large Items.")</sub>
                                    <br />
                                    @_("See shipping policies for this Item.")
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            }
            else
            {
                <div class="detail-info-entry">
                    <div class="inline-product-entry" style="display: flex;">
                        <i style="color:#3483FA" class="fas fa-download fa-5x"></i>
                        <div class="content" style="margin-left:50px;">
                            <div class="cell-view" style="line-height:0px">
                                <a href="#" class="title" style="margin:0px; line-height: 20px;"><b>@_("Digital Item"):</b></a>
                                <div class="price" style="letter-spacing:1px; margin:0px; padding:0px; line-height: 15px; ">
                                    <div class="current" style="font-size:15px; letter-spacing:1px; margin:0px; padding:0px; line-height: 20px;">
                                        @_("Digital Download Delivery Service.")
                                    </div>
                                </div>
                                <p class="title" style="margin-top:0px;text-decoration:none;font-size:12px;letter-spacing:1px;line-height: 14px;">
                                    <sub>@_("Not applicable for physical Items.") </sub>
                                    <br />
                                    @_("See shipping policies for this Item.")
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
            </div>
            <div class="col-lg-5">
               <!--====== Product Right Side Details ======-->
               <div class="pd-detail">
                  <div>
                     <span class="pd-detail__name">@Model.Title</span>
                  </div>
                  <div>
                     <div class="pd-detail__inline">
                        <span class="pd-detail__price">    
                            @await Component.InvokeAsync("ItemPriceDetail", Model)
                        </span>

                        @if(Model.OnDiscount){
                            <span class="pd-detail__discount">(76% OFF)</span><del class="pd-detail__del">$28.97</del>
                        }

                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                     <div class="pd-detail__rating gl-rating-style">

                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>

                        <span class="pd-detail__review u-s-m-l-4">
                        <a data-click-scroll="#view-review">@Model.ItemReviews.Count Reviews</a></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                     <div class="pd-detail__inline">
                        <span class="pd-detail__stock">@Model.CurrentStock in stock</span>
                        <span class="pd-detail__left">Only 2 left</span>
                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                     <span class="pd-detail__preview-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                  </div>

                    @if (User.Identity.IsAuthenticated)
                    {

                        @if (Model.InStock || Model.ByRequest)
                        {
                            @await Component.InvokeAsync("ExpressCheckoutButton", new { User = User, Item = Model })
                        }
                        else
                        {
                            <div class="message-box message-danger">
                                <div class="message-icon"><i class="fa fa-exclamation"></i></div>
                                <div class="message-text">
                                    <b>@_("Express checkout is disabled for Out of Stock Items")</b>
                                    @_("You can add it to a WishList and we will send you an email when this Item's state changes.")
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        @if (Model.InStock || Model.ByRequest)
                        {
                            <a class="button style-4" style="display:block;     border-radius: 5px;" href="Account/Login">@_("Login to checkout")</a>
                        }
                    }

                @if (!Model.InStock && !Model.ByRequest)
                {
                    <div class="message-box message-danger">
                        <div class="message-icon"><i class="fa fa-exclamation"></i></div>
                        <div class="message-text">
                            <b>@_("Cart checkout is disabled for Out of Stock Items that cannot currently be requested.")</b>
                            @_("You can add it to a WishList and we will send you an email when this Item's state change.")
                        </div>
                    </div>
                }
                else
                {
                    <hr />
                    <div class="detail-info-entry">
                        @await Component.InvokeAsync("AddToCartButton", new { User, ItemID = Model.ID, IP = IP })
                    </div>
                }

                <div class="detail-info-entry">
                    @await Component.InvokeAsync("AddToCompareButton", new { Tenant = User, Item = Model })
                </div>

                  <div class="u-s-m-b-15">
                     <div class="pd-detail__inline">
                        <span class="pd-detail__click-wrap"><i class="far fa-heart u-s-m-r-6"></i>
                        <a href="signin.html">Add to Wishlist</a>
                        <span class="pd-detail__click-count">(222)</span></span>
                     </div>
                  </div>

                  <div class="u-s-m-b-15">
                     <div class="pd-detail__inline">
                        <span class="pd-detail__click-wrap"><i class="far fa-envelope u-s-m-r-6"></i>
                        <a href="signin.html">Email me When the price drops</a>
                        <span class="pd-detail__click-count">(20)</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-15">
                      
                    <h3 style="font-weight:600" class="Item-title">@_("Like it? Share it!") 😃</h3>
                    <div class="share-box" style="display: grid;">
                        <div id="share"></div>
                    </div>

                     <ul class="pd-social-list">
                        <li>
                           <a class="s-fb--color-hover" href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                           <a class="s-tw--color-hover" href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                           <a class="s-insta--color-hover" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                           <a class="s-wa--color-hover" href="#"><i class="fab fa-whatsapp"></i></a>
                        </li>
                        <li>
                           <a class="s-gplus--color-hover" href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                     </ul>
                  </div>
                  <div class="u-s-m-b-15">
                     <form class="pd-detail__form">
                        <div class="pd-detail-inline-2">
                           <div class="u-s-m-b-15">
                              <!--====== Input Counter ======-->
                              <div class="input-counter">
                                 <span class="input-counter__minus fas fa-minus"></span>
                                 <input class="input-counter__text input-counter--text-primary-style" type="text" value="1" data-min="1" data-max="1000">
                                 <span class="input-counter__plus fas fa-plus"></span>
                              </div>
                              <!--====== End - Input Counter ======-->
                           </div>
                           <div class="u-s-m-b-15">
                              <button class="btn btn--e-brand-b-2" type="submit">Add to Cart</button>
                           </div>
                        </div>
                     </form>
                  </div>
                  <div class="u-s-m-b-15">
                     <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                     <ul class="pd-detail__policy-list">
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Buyer Protection.</span>
                        </li>
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Full Refund if you don't receive your order.</span>
                        </li>
                        <li><i class="fas fa-check-circle u-s-m-r-8"></i>
                           <span>Returns accepted if product not as described.</span>
                        </li>
                     </ul>
                  </div>
               </div>
               <!--====== End - Product Right Side Details ======-->
            </div>
            <div class="col-lg-2 information-entry product-sidebar">
                <div class="row">
                    @if (Model.Brand != null)
                    {
                        <div class="col-md-12  information-entry  text-center">
                            <div class="Item-column-entry detail-info-lines border-box">
                                <div class="image">     <a asp-area="Store" asp-controller="Brands" asp-action="Details" asp-route-id="@Model.Brand.ID"><img src="@Model.Brand.LogoURL" alt="@Model.Brand.Name's Logo"></a></div>
                                <h3 class="title text-center"><a asp-controller="Brands" asp-action="Details" asp-route-id="@Model.Brand.ID">@Model.Brand.Name</a></h3>
                                <div class="description">
                                    <ul class="list-type-1">
                                        <li><a target="_blank" href="@Model.Brand.WebsiteURL"><i class="fa fa-angle-right"></i>@_("Brand Website")</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="col-md-12  information-entry   text-center">
                        <div class="information-blocks">
                            <div class="detail-info-lines border-box text-center">
                                <div class="share-box" style="display: grid;">
                                    <h3 class="title  text-center">
                                        <b>@_("Item SKU"):</b>
                                        <br />
                                        <a href="https://www.google.com/search?q=@GoogleQuery" target="_blank" data-toggle="tooltip" data-placement="top" title="Click to Search with Google"><b>@Model.SKU</b></a>
                                    </h3>
                                </div>
                                <div class="share-box" style="display: grid;">
                                    <h3 class="title">
                                        <b>@_("Merchant Profile"):</b>
                                        <br />
                                        <b>
                                            @Model.Business.BusinessName
                                            <br />
                                            <a asp-area="Social" asp-controller="Businesses" asp-action="Details" asp-route-businessID="@Model.Business.ID">
                                                @_("By"): @Model.Business.BusinessLegalName
                                            </a>
                                            <br />
                                            <a asp-area="Social" asp-controller="Businesses" asp-action="Details" asp-route-businessID="@Model.Business.ID">
                                                @_("Tax ID"): @Model.Business.TaxID
                                            </a>
                                        </b>
                                    </h3>
                                </div>

                                @if (Model.ItemCategory != null)
                                {
                                    <div class="share-box" style="display: grid;">
                                        <h3 class="title  text-center">
                                            <b>@_("Primary Category"):</b>
                                            <br />
                                            <b>
                                                <a asp-area="Store" asp-controller="Categories" asp-action="Details" asp-route-id="@Model.ItemCategoryID">@Model?.ItemCategory?.Title</a>
                                            </b>
                                        </h3>
                                    </div>
                                }

                                @if (Model.ItemType != null)
                                {
                                    <div class="share-box" style="display: grid;">
                                        <h3 class="title"><b>@_("Item Type"): <br /><a asp-area="Store" asp-controller="Types" asp-action="Details" asp-route-id="@Model.ItemTypeID">@Model.ItemType.SingularTitle</a></b></h3>
                                    </div>
                                }

                                @if (Model.ItemTaxPolicyRecords != null && Model.ItemTaxPolicyRecords.Count != 0)
                                {
                                    <div class="share-box" style="display: grid;">
                                        <h3 class="title"><b>@_("Applied Taxes")</b></h3>
                                    </div>
                                    @foreach (var item in Model.ItemTaxPolicyRecords)
                                    {
                                        <div class="share-box" style="display: grid;">
                                            <h3 class="title"><b></b>@item.TaxPolicy.Title</h3>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="share-box" style="display: grid;">
                                        <h3 class="title"><b></b>Empty</h3>
                                    </div>
                                }


                                @if (Model.ItemTagRecords != null && Model.ItemTagRecords.Count != 0)
                                {
                                    <div class="share-box" style="display: grid;">
                                        <h3 class="block-title inline-Item-column-title">@_("Item Tags")</h3>
                                    </div>

                                    @foreach (var Tag in Model.ItemTagRecords)
                                    {
                                        <div class="share-box" style="display: grid;">
                                            <a asp-area="Store/Tags/Details?id=@Tag.ItemTag.ID">@Tag.ItemTag.Title</a>
                                        </div>
                                    }
                                }


                                <div class="share-box" style="display: grid;">
                                    <h3 style="font-weight:600" class="Item-title">@_("Like it? Share it!") 😃</h3>
                                </div>
                                <div class="share-box" style="display: grid;">
                                    <div id="share"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </div>
   </div>

   <!--====== Product Detail Tab ======-->
   <div class="u-s-p-y-90">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="pd-tab">
                  <div class="u-s-m-b-30">
                     <ul class="nav pd-tab__list">
                        @if (Model.DisplayShowcaseTab)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pd-desc">SHOWCASE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#pd-specs">SPECIFICATIONS</a>
                            </li>
                        }else{
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#pd-specs">SPECIFICATIONS</a>
                            </li>
                        }

                        <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#pd-policies">POLICIES</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#pd-questions">QUESTIONS</a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" id="view-review" data-toggle="tab" href="#pd-rev">REVIEWS
                           <span>(@Model.ItemReviews?.Count)</span></a>
                        </li>
                        <li class="nav-item">
                           <a class="nav-link" data-toggle="tab" href="#pd-attachments">ATTACHMENTS</a>
                        </li>
                     </ul>
                  </div>
                  <div class="tab-content">
                    @if (Model.DisplayShowcaseTab)
                    {
                        <!--====== Tab 2 ======-->
                        <div class="tab-pane" id="pd-attachments">
                            <div class="pd-tab__tag">
                                <h2 class="u-s-m-b-15">Product Attachments</h2>
                                <div class="u-s-m-b-15">
                                    @Html.Raw(@Model.Description)
                                </div>
                            </div>
                        </div>
                        <!--====== End - Tab 2 ======-->
                    }

                     <div class="tab-pane fade show @((!Model.DisplayShowcaseTab) ? "active": string.Empty)" id="pd-specs">
                         
                           <div class="u-s-m-b-15">
                              <p>@Html.Raw(Model.ShortDescription ?? "Empty Description")</p>
                           </div>

                           @if(!string.IsNullOrEmpty(Model.YoutubeVideoID)){
                                <div class="u-s-m-b-30"><iframe src="https://www.youtube.com/embed/@Model.YoutubeVideoID" allowfullscreen></iframe></div>
                           }

                            <div class="u-s-m-b-15">
                              <h4>PRODUCT INFORMATION</h4>
                           </div>


                           <div class="u-s-m-b-15">
                              <div class="pd-table gl-scroll">
                                 <table>
                                    <tbody>
                                       <tr>
                                          <td>SKU</td>
                                          <td>@Model.SKU</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>

                           <div class="u-s-m-b-15">
                                <h4>@_("Item Specifications")</h4>
                                <div class="table-responsive">
                                        <table>
                                            <tbody>
                                                <tr>
                                                <td></td>
                                                <td>
                                                    <div class="comment">
                                                        <a class="comment-image"><img src="@image" alt=""></a>
                                                        <div class="comment-content">
                                                            <div class="comment-title"><span>@Model.Title</span></div>
                                                            @await Component.InvokeAsync("ReviewStarsRatingBox", Model);
                                                            @await Component.InvokeAsync("ItemPriceDetail", Model)
                                                        </div>
                                                    </div>
                                                </td>
                                                </tr>
                                                @if (!String.IsNullOrEmpty(Model.ShortDescription))
                                                {
                                                <tr>
                                                <td><b>@_("Description")</b></td>
                                                <td>
                                                    <div class="article-container style-1">
                                                        <p>@Html.Raw(Model.ShortDescription)</p>
                                                    </div>
                                                </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(Model.SKU))
                                                {
                                                <tr>
                                                <td><b>@_("Item SKU"):</b></td>
                                                <td>@Model.SKU</td>
                                                </tr>
                                                }
                                                @if (Model.ItemType != null)
                                                {
                                                <tr>
                                                <td><b>@_("Item Type"):</b></td>
                                                <td>
                                                    @Model.ItemType.SingularTitle
                                                </td>
                                                </tr>
                                                }
                                                @if (Model.Brand != null)
                                                {
                                                <tr>
                                                <td><b>@_("Manufacturer"):</b></td>
                                                <td>
                                                    @Model.Brand.Name
                                                </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(Model.Series))
                                                {
                                                <tr>
                                                <td><b>@_("Item Series"):</b></td>
                                                <td>
                                                    @Model.Series
                                                </td>
                                                </tr>
                                                }
                                                @if (Model.ItemCategoryRecords != null && Model.ItemCategoryRecords.Count != 0)
                                                {
                                                <tr>
                                                <td><b>@_("Categories")</b></td>
                                                <td>
                                                    @foreach (var cat in Model.ItemCategoryRecords)
                                                    {
                                                    <span class="badge badge-success">@cat.ItemCategory.Title</span>
                                                    }
                                                </td>
                                                </tr>
                                                }
                                                @if (Model.ItemAttributeOptionRecords != null && Model.ItemAttributeOptionRecords.Count != 0)
                                                {
                                                @foreach (var Attrib in Model.ItemAttributeOptionRecords)
                                                {
                                                <tr>
                                                <td><b>@Attrib.AttributeOption.ItemAttribute.Name</b></td>
                                                <td>
                                                    <div class="tags-box">
                                                        <a asp-area="Store" asp-controller="AttributeOptions" asp-action="Details" asp-route-id="@Attrib.AttributeOptionID">@Attrib.AttributeOption.Name</a>
                                                    </div>
                                                </td>
                                                </tr>
                                                }
                                                }
                                                @if (Model.ItemCategoryRecords != null && Model.ItemCategoryRecords.Count != 0)
                                                {
                                                <tr>
                                                <td><b>@_("Tags"):</b></td>
                                                <td>
                                                    @foreach (var cat in Model.ItemTagRecords)
                                                    {
                                                    <span class="badge badge-primary">@cat.ItemTag.Title</span>
                                                    }
                                                </td>
                                                </tr>
                                                }
                                                @if (Model.ShippingCountry != null)
                                                {
                                                <tr>
                                                <td><b>@_("Shipping Country"):</b></td>
                                                <td>
                                                    <div class="comment">
                                                        <a class="comment-image" href="#"><img src="@Model.ShippingCountry.CountryFlagUrl" style="max-height: 20px;" alt=""></a>
                                                        <div class="comment-content">
                                                            <div class="comment-title"><span> @Model.ShippingCountry.Name</span></div>
                                                            <div class="comment-text"><span>@Model.ShippingCountry.Region</span></div>
                                                        </div>
                                                    </div>
                                                </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(Model.SystemRequirements))
                                                {
                                                <tr>
                                                <td><b>@_("System requirements"):</b></td>
                                                <td>
                                                    @Model.SystemRequirements?.ToUpper()
                                                </td>
                                                </tr>
                                                }
                                                <tr>
                                                <td><b>@_("Taxable"):</b></td>
                                                <td>
                                                    @_(Model.Taxable.ToString())
                                                </td>
                                                </tr>
                                                @if (Model.PreSale)
                                                {
                                                <tr>
                                                <td><b>@_("On Pre-Sale"):</b></td>
                                                <td>
                                                    @Model.PreSale
                                                </td>
                                                </tr>
                                                }
                                                @if (!String.IsNullOrEmpty(Model.OperatingSystemSupported))
                                                {
                                                <tr>
                                                <td><b>@_("Operating System"):</b></td>
                                                <td>
                                                    @Model.OperatingSystemSupported?.ToUpper()
                                                </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                </div>
                           </div>
                     </div>
                     <!--====== End - Tab 1 ======-->

                    <!--====== Tab Policies ======-->
                     <div class="tab-pane fade show" id="pd-policies">
                        @if (Product.ItemTaxPolicyRecords != null)
                        {
                            <div class="col-md-12 information-entry" style="margin-top:15px">
                                <h3>@_("TAX POLICIES")</h3>
                                @if (Product.ItemTaxPolicyRecords.Count() == 0)
                                {

                                    <div class="alert alert-danger" role="alert">  <h4>@_("This Item don't have any tax Policies.")</h4></div>
                                }
                                else
                                {
                                    @foreach (var item in Product.ItemTaxPolicyRecords)
                                    {
                                        <h4>@Html.Raw(item.TaxPolicy.Title)</h4>
                                        <h6>@Html.Raw(item.TaxPolicy.Description)</h6>
                                    }
                                }
                            </div>
                        }

                        @if (Product.ItemShippingPolicyRecords != null)
                        {
                            <div class="col-md-12 information-entry" style="margin-top:15px">
                                <h3>@_("SHIPPING POLICIES")</h3>
                                @if (Product.ItemShippingPolicyRecords.Count() == 0)
                                {
                                    <div class="alert alert-danger" role="alert">  <h4>@_("This Item don't have any Shipping Policies.")</h4></div>
                                }
                                else
                                {
                                    @foreach (var item in Product.ItemShippingPolicyRecords)
                                    {
                                        <h4>@Html.Raw(item.ItemShippingPolicy.Title)</h4>
                                        <h6>@Html.Raw(item.ItemShippingPolicy.Description)</h6>
                                        <p>@Html.Raw(item.ItemShippingPolicy.Description)</p>
                                    }
                                }
                            </div>
                        }
                        @if (Product.ItemWarrantyPolicyRecords != null)
                        {
                            <div class="col-md-12 information-entry" style="margin-top:15px">
                                <h3>@_("Warranty Policies")</h3>

                                @if (Product.ItemWarrantyPolicyRecords.Count() == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <h4>@_("This Item don't have any Warranty Policies.")</h4>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Product.ItemWarrantyPolicyRecords)
                                    {
                                        <h4>@Html.Raw(item.WarrantyPolicy.Title)</h4>
                                        <h6>@Html.Raw(item.WarrantyPolicy.Description)</h6>
                                        <p>@Html.Raw(item.WarrantyPolicy.Description)</p>
                                    }
                                }
                            </div>
                        }
                        @if (Product.ItemRefundPolicyRecords != null)
                        {
                            <div class="col-md-12 information-entry" style="margin-top:15px">
                                <h3>@_("Refund Policies")</h3>
                                @if (Product.ItemRefundPolicyRecords.Count() == 0)
                                {
                                    <div class="alert alert-danger" role="alert">   
                                        <h4>@_("This Item don't have any Refund Policies.")</h4>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Product.ItemRefundPolicyRecords)
                                    {
                                        <h4>@Html.Raw(item.RefundPolicy.Title)</h4>
                                        <h6>@Html.Raw(item.RefundPolicy.Description)</h6>
                                        <p>@Html.Raw(item.RefundPolicy.Description)</p>
                                    }
                                }
                            </div>
                        }
                        
                        @if (Model.ItemReturnPolicyRecords != null)
                        {
                            <div class="col-md-12 information-entry" style="margin-top:15px">
                                <h3>@_("RETURN POLICIES")</h3>
                                @if (Product.ItemReturnPolicyRecords.Count() == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <h4>@_("This Item don't have any Return Policies.")</h4>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Product.ItemReturnPolicyRecords)
                                    {
                                        <h4>@Html.Raw(item.ReturnPolicy.Title)</h4>
                                        <h6>@Html.Raw(item.ReturnPolicy.Description)</h6>
                                        <p>@Html.Raw(item.ReturnPolicy.Description)</p>
                                    }
                                }
                            </div>
                        }
                    </div>
                    <!--====== End - Tab Policies ======-->

                     <!--====== Tab 2 ======-->
                     <div class="tab-pane" id="pd-questions">
                        <div class="pd-tab__tag">
                           <h2 class="u-s-m-b-15">ASK YOUR QUESTIONS</h2>
                           <div class="u-s-m-b-15">

                                @if (Product.ItemQuestions.Count() == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <b> @_("This Item don't have any Questions.")</b>
                                    </div>
                                }
                                else
                                {
                                    @foreach (var item in Model.ItemQuestions)
                                    {
                                        if (item.SocialProfile is FenixAlliance.ABM.Models.Social.SocialProfiles.Scopes.AccountHolderSocialProfile)
                                        {
                                            var SP = item.SocialProfile as FenixAlliance.ABM.Models.Social.SocialProfiles.Scopes.AccountHolderSocialProfile;

                                            <div class="comment">
                                                <a class="comment-image" style="max-height:40px" href="#"><img src="@SP.AccountHolder.AvatarURL" alt=""></a>
                                                <div class="comment-content">
                                                    <div class="comment-title"><span>@_("User Question")</span></div>
                                                    <div class="comment-text">@item.Question</div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form>
                                        <input class="input-text input-text--primary-style" type="text">
                                        <button class="btn btn--e-brand-b-2" type="submit">ASK QUESTION</button>
                                    </form>
                                }
                                else
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <h4>@_("You need to") <a href="/Account/Login" style="  text-decoration: underline;"><sub>@_("log In or sign up")</sub></a> @_("into your Alliance ID Account to post a question about")" @Model.Title</h4>
                                    </div>
                                }

                           </div>
                        </div>
                     </div>
                     <!--====== End - Tab 2 ======-->


                     <!--====== Tab 3 ======-->
                     <div class="tab-pane" id="pd-rev">
                        <div class="pd-tab__rev">
                           <div class="u-s-m-b-30">
                              <div class="pd-tab__rev-score">
                                 <div class="u-s-m-b-8">
                                    <h2>@Model.ItemReviews.Count Reviews - @AverageRating (Overall)</h2>
                                 </div>
                                 <div class="gl-rating-style-2 u-s-m-b-8">

                                     <i class="fas fa-star">

                                     </i><i class="fas fa-star">

                                     </i><i class="fas fa-star">

                                     </i><i class="fas fa-star">

                                     </i><i class="fas fa-star-half-alt"></i>

                                </div>
                                 <div class="u-s-m-b-8">
                                    <h4>We want to hear from you!</h4>
                                 </div>
                                 <span class="gl-text">Tell us what you think about this item</span>
                              </div>
                           </div>

                           <div class="u-s-m-b-30">
                              <form class="pd-tab__rev-f1">
                                 <div class="rev-f1__group">
                                    <div class="u-s-m-b-15">
                                       <h2>@Model.ItemReviews.Count Review(s) for Man Ruched Floral Applique Tee</h2>
                                    </div>
                                    <div class="u-s-m-b-15">
                                       <label for="sort-review"></label>
                                       <select class="select-box select-box--primary-style" id="sort-review">
                                          <option selected>Sort by: Best Rating</option>
                                          <option>Sort by: Worst Rating</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="rev-f1__review">


                                    <div class="review-o u-s-m-b-15">
                                       <div class="review-o__info u-s-m-b-8">
                                          <span class="review-o__name">John Doe</span>
                                          <span class="review-o__date">27 Feb 2018 10:57:43</span>
                                       </div>
                                       <div class="review-o__rating gl-rating-style u-s-m-b-8"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
                                          <span>(4)</span>
                                       </div>
                                       <p class="review-o__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                    </div>

                                 </div>
                              </form>
                           </div>

                           <div class="u-s-m-b-30">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <form class="pd-tab__rev-f2">
                                        <h2 class="u-s-m-b-15">Add a Review</h2>
                                        <span class="gl-text u-s-m-b-15">Your email address will not be published. Required fields are marked *</span>
                                        <div class="u-s-m-b-30">
                                            <div class="rev-f2__table-wrap gl-scroll">
                                            <table class="rev-f2__table">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i>
                                                            <span>(1)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                                            <span>(1.5)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                            <span>(2)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                                            <span>(2.5)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                            <span>(3)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                                            <span>(3.5)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                            <span>(4)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
                                                            <span>(4.5)</span>
                                                        </div>
                                                        </th>
                                                        <th>
                                                        <div class="gl-rating-style-2"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                                            <span>(5)</span>
                                                        </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-1" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-1"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-1.5" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-1.5"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-2" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-2"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-2.5" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-2.5"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-3" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-3"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-3.5" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-3.5"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-4" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-4"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-4.5" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-4.5"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                        <td>
                                                        <!--====== Radio Box ======-->
                                                        <div class="radio-box">
                                                            <input type="radio" id="star-5" name="rating">
                                                            <div class="radio-box__state radio-box__state--primary">
                                                                <label class="radio-box__label" for="star-5"></label>
                                                            </div>
                                                        </div>
                                                        <!--====== End - Radio Box ======-->
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                        <div class="rev-f2__group">
                                            <div class="u-s-m-b-15">
                                            <label class="gl-label" for="reviewer-text">YOUR REVIEW *</label><textarea class="text-area text-area--primary-style" id="reviewer-text"></textarea>
                                            </div>
                                            <div>
                                            <p class="u-s-m-b-30">
                                                <label class="gl-label" for="reviewer-name">NAME *</label>
                                                <input class="input-text input-text--primary-style" type="text" id="reviewer-name">
                                            </p>
                                            <p class="u-s-m-b-30">
                                                <label class="gl-label" for="reviewer-email">EMAIL *</label>
                                                <input class="input-text input-text--primary-style" type="text" id="reviewer-email">
                                            </p>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn--e-brand-shadow" type="submit">SUBMIT</button>
                                        </div>
                                    </form>
                                }
                           </div>
                        </div>
                     </div>
                     <!--====== End - Tab 3 ======-->

                     <!--====== Tab 2 ======-->
                     <div class="tab-pane" id="pd-attachments">
                        <div class="pd-tab__tag">
                           <h2 class="u-s-m-b-15">Product Attachments</h2>
                           <div class="u-s-m-b-15">
                                @if (Product.ItemAttachments != null)
                                {
                                    @if (Product.ItemAttachments.Count() == 0)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            <h4>@_("This Item don't have any attachments.")</h4>
                                        </div>
                                    }
                                    else
                                    {
                                        @foreach (var item in Product.ItemAttachments)
                                        {
                                            <br />

                                            <a href="@item.FileUploadURL">
                                                <div class="information-entry col-md-12">
                                                    <div class="sale-entry">
                                                        <div class="sale-price">
                                                            <span><i class="fas fa-cloud-download"></i></span>
                                                            @_("this attachment")
                                                        </div>
                                                        <div class="sale-description">
                                                            @{
                                                                var FileSize = item.FileLengthInBits / 1048576;
                                                            }
                                                            @_("This file contains extended information about"): 
                                                            <b>@Model.Title</b>.
                                                            @_("It may be provided by Fenix Alliance Group, the manufacturer or external sources. We make sure this file is totally free from Malware and that bad stuff. Guaranteed.")
                                                            <br /> 
                                                            <b>@_("File Size"): @FileSize MB</b> | 
                                                            <b>@_("File Type"): @item.FileName.Split('.')[1] </b> | 
                                                            <b>@_("File Name"): @item.FileName</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>

                                            <hr />
                                            <br />
                                            <br />
                                            
                                            <embed src="@item.FileUploadURL" style="margin-top:15px;min-width:100%; min-height:1200px" />

                                        }
                                    }
                                }
                                else
                                {
                                    <h5>@_("No Item Attachments")</h5>
                                }
                           </div>
                        </div>
                     </div>
                     <!--====== End - Tab 2 ======-->

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--====== End - Product Detail Tab ======-->
   <div class="u-s-p-b-90">
      <!--====== Section Intro ======-->
      <div class="section__intro u-s-m-b-46">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                  <div class="section__text-wrap">
                     <h1 class="section__heading u-c-secondary u-s-m-b-12">CUSTOMER ALSO VIEWED</h1>
                     <span class="section__span u-c-grey">PRODUCTS THAT CUSTOMER VIEWED</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--====== End - Section Intro ======-->
      <!--====== Section Content ======-->
      <div class="section__content">
         <div class="container">
            <div class="slider-fouc">
               <div class="owl-carousel product-slider" data-item="4">
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product1.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Beats Bomb Wireless Headphone</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product2.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Red Wireless Headphone</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product3.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Yellow Wireless Headphone</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product23.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Razor Gear Ultra Slim 8GB Ram</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product26.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Razor Gear Ultra Slim 12GB Ram</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
                  <div class="u-s-m-b-30">
                     <div class="product-o product-o--hover-on">
                        <div class="product-o__wrap">
                           <a class="aspect aspect--bg-grey aspect--square u-d-block" href="product-detail.html">
                           <img class="aspect__img" src="images/product/electronic/product30.jpg" alt=""></a>
                           <div class="product-o__action-wrap">
                              <ul class="product-o__action-list">
                                 <li>
                                    <a data-modal="modal" data-modal-id="#quick-look" data-tooltip="tooltip" data-placement="top" title="Quick View"><i class="fas fa-search-plus"></i></a>
                                 </li>
                                 <li>
                                    <a data-modal="modal" data-modal-id="#add-to-cart" data-tooltip="tooltip" data-placement="top" title="Add to Cart"><i class="fas fa-plus-circle"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Add to Wishlist"><i class="fas fa-heart"></i></a>
                                 </li>
                                 <li>
                                    <a href="signin.html" data-tooltip="tooltip" data-placement="top" title="Email me When the price drops"><i class="fas fa-envelope"></i></a>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <span class="product-o__category">
                        <a href="shop-side-version-2.html">Electronics</a></span>
                        <span class="product-o__name">
                        <a href="product-detail.html">Razor Gear Ultra Slim 16GB Ram</a></span>
                        <div class="product-o__rating gl-rating-style"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                           <span class="product-o__review">(20)</span>
                        </div>
                        <span class="product-o__price">$125.00
                        <span class="product-o__discount">$160.00</span></span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--====== End - Section Content ======-->
   </div>
   <!--====== End - Section 1 ======-->
</div>
<!--====== End - App Content ======-->
<!-- application/ld+json -->
<script type="application/ld+json">
   {
       "@@context": "https://schema.org/",
       "@@type": "Item",
       "name": "@Model.Title",
       "image": "@image",
       "description": "@Model.Description",
       "category": "@(Model.ItemCategory?.Title ?? "Undefined"),
       "sku": "@Model.SKU",
       "mpn": "@Model.SKU",
       "ProductID": "@Model.ID",
       "brand": "@(Model.Brand?.Name ?? "Undefined")",
       "review": {
           "@@type": "Review",
           "reviewRating": {
               "@@type": "Review",
               "ratingValue": "@AverageRating",
               "bestRating": "@MaxRate",
               "worstRating": "@MinRate"
           },
           "aggregateRating": {
               "@@type": "AggregateRating",
               "ratingValue": "@AverageRating",
               "reviewCount": "@Model.ItemReviews.Count"
           },
           "author": {
               "@@type": "Organization",
               "name": "Fenix Alliance S.A.S"
           }
       },
       "offers": [{
               "url": "@URL",
               "@@type": "Offer",
               "price": "@Model.EstimatedTotalPriceInUSD",
               "priceValidUntil": "2019-06-30",
               "priceCurrency": "USD",
               "itemCondition": "https://schema.org/NewCondition",
               "availability": "https://schema.org/InStock",
               "seller": {
                   "@@type": "Organization",
                   "name": "Fenix Alliance S.A.S"
               }
           }
       ]
   }
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />

<script>

    $(document).ready(function () {
        $("#share").jsSocials({
            showLabel: false,
            shareIn: "popup",
            showCount: false,
            url: "https://fenixalliance.com.co/store/products/details/@Model.ID",
            text: "Buy Now your new @Model.Title at Infinity Comex | Just: USD @Math.Round(Model.EstimatedTotalPriceInUSD).ToString().Replace(',', '.')",
            shares: ["email", "twitter", "facebook", "linkedin", "pinterest", "whatsapp"]
        });
    });

    function SubmitQuestionValidation() {
        var Question = $('#QuestionMsg').val();
        var QuestionData = { "ItemID": ItemID, "ContactID": CurrentTenantGUID, "Question": Question, "NeedsRevision": true };
        $.ajax({
            url: '/api/ItemQuestions',
            type: 'POST',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken")').val()
            },
            data: JSON.stringify(QuestionData)
        }).done(function (QuestionResult) {
            toastr.success('@_("We will reply to your question as soon as possible")', '@_("Asked Suceessfully")');
            location.reload();
        });
        return false;
    }

    $(document).ready(
        $.ajax({
            url: '/api/Items/CreateSARUsageRecord?ItemID=@Model.ID&CartID=' + CartID + '&EventType=Click ',
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).success(function () {
            console.log("Sar record was successfull | Infinity Comex  SAR Engine ");
        })
    );

    function _IsMobile() {
        if (window.innerWidth <= 800 || window.innerHeight <= 600) {
            return true;
        } else {
            return false;
        }
    }

</script>
